body{
    
    background-image: url('lazanjica.jpg');
    background-repeat: space;
   background-size: cover;
    
}



.naslov{
background-color: #f33131;
opacity: 0.9;
margin: 20px ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: center;
 padding: 24px;


}



.opis {

    margin:  20px;
    background-color: #faf794;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px ;
}


.sastojci{
display: flex;
align-items: flex-start;


    background-color: #f33131;
    opacity: 0.9;
    margin:  20px 500px 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 16px;


}

img {
    display: flex;
    align-items: flex-end;
    

padding: 50px;
  width: 350px;
  height: 300px;
  



}